version: '3.8'

services:
  # Alterado de 'svc-usuarios' para 'svc-cadastro'
  svc-cadastro:
    build: ./cadastro
    container_name: container-cadastro
    ports:
      - "3001:3001"
    volumes:
      - ./cadastro/database:/app/database

  svc-espacos:
    build: ./espaco
    container_name: container-espacos
    ports:
      - "3002:3002"
    volumes:
      - ./espaco/database:/app/database

  svc-reservas:
    build: ./reserva
    container_name: container-reservas
    ports:
      - "3003:3003"
    volumes:
      - ./reserva/database:/app/database
    depends_on:
      - svc-cadastro   # <--- Atualizado aqui
      - svc-espacos
      - svc-pagamentos

  svc-pagamentos:
    build: ./pagamento
    container_name: container-pagamentos
    ports:
      - "3004:3004"
    volumes:
      - ./pagamento/database:/app/database