services:
  # Serviço de Cadastro
  svc-cadastros:
    build: ./src/srv-cadastro
    container_name: container-cadastros
    ports:
      - "3001:3001"
    volumes:
      - dados_cadastro:/app/database

  # Serviço de Espaços
  svc-espacos:
    build: ./src/srv-espaco
    container_name: container-espacos
    ports:
      - "3002:3002"
    volumes:
      - dados_espacos:/app/database

  # Serviço de Reservas
  svc-reservas:
    build: ./src/srv-reserva
    container_name: container-reservas
    ports:
      - "3003:3003"
    depends_on:
      - svc-cadastros
      - svc-espacos
      - svc-pagamentos
    volumes:
      - dados_reservas:/app/database

  # Serviço de Pagamentos
  svc-pagamentos:
    build: ./src/srv-pagamento
    container_name: container-pagamentos
    ports:
      - "3004:3004"
    volumes:
      - dados_pagamentos:/app/database

volumes:
  dados_cadastro:
  dados_espacos:
  dados_reservas:
  dados_pagamentos: